
@media all and (max-width:768px) {
 
    .sec3Info {
        justify-content: center;
        padding-top: 2vw;
    }


    .sec3Box .sec3Info_p {
        font-size: 4vw;
    }

    .sec3Box .sec3Info {

        width: 100%;
        justify-content: flex-start;
    }

    .sec3Info img {
        width: 23vw;
    }


    .sec3ImgBox {

        height: 32vw;
    }

    .sec3 .sliderB {
        display: flex;
        flex-direction: column;
    }

   

    .slick-slider {
        flex-wrap: wrap;
    }

}


@media all and (max-width:425px) {

    .slick-dots {
        bottom: -2vw !important;
    }

   
}

@media all and (max-width:375px) {


    .sec3Info {
        padding-top: 0;
    }
}

